body{
    background-color: #38798F;
    font-family: 'Manrope', sans-serif;
    color: rgba(255, 255, 255, 0.935);
}
header{
    text-align: center;
    padding: 25px;
}
header h1{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}
.Time{
    width: 99.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.IconPause{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
#PauseIcon{
    position: relative;
    display: none;
}
#Time_Pomodoro{
    background-color:rgba(0, 0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px dotted rgba(255, 255, 255, 0.925);
    border-radius: 100%;
    width: 200px;
    height: 200px;
    cursor: pointer;
}
#Time_Pomodoro:hover{
    background-color: rgba(170, 170, 170, 0.116);
}
.Text{
    color: rgba(255, 255, 255, 0.935);
    font-size: 3.5em;
    font-weight: 600;
}
.Actions{
    text-align: center;
}
.User_Actions{
    font-size: 1.3em;
    font-weight: 550;
    letter-spacing: 2.5px;
}
.Colors{
    width: 99.5%;
    display: grid;
    grid-row: 2;
    position: absolute;
    justify-content: center;
    bottom: 0;
    padding: 0 0 15px 0;
}
.Row{
    display: flex;
}
.Color{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
    margin: 5px;
    border: 1px solid rgba(255, 255, 255, 0.925);
}
#Color1{
    background-color: #6E6A8F;
}
#Color2{
    background-color: #8F6961;
}
#Color3{
    background-color: #538F3C;
}
#Color4{
    background-color: #7B488F;
}
#Color5{
    background-color: #8F892D;
}
#Color6{
    background-color: #DB302A;
}